# Mitochondria voxel and count analysis of Layer 2/3 volume
This notebook will return mitochondria segmentation data for any cell id in the volume.  
Refer to the notebook *mito_voxel analysis_vasc_removed* to exclude vascular cells and those not identified in the cell subtype table.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import scipy as stat

In [2]:
# this csv file is 261 MB and too large to place on Github
# in order to run this notebook, you must first download the file and place on your local machine in the /data folder
# the csv file is available here: https://zenodo.org/record/5579388/files/211019_mitochondria_info.csv

mito = pd.read_csv("211019_mitochondria_info.csv")

In [3]:
mito

,mito_id,mito_vx,ctr_pos_x_vx,ctr_pos_y_vx,ctr_pos_z_vx,bbox_beg_x_vx,bbox_beg_y_vx,bbox_beg_z_vx,bbox_end_x_vx,bbox_end_y_vx,bbox_end_z_vx,cellid,ctr_pos_x_nm,ctr_pos_y_nm,ctr_pos_z_nm
0,3384540,5916,103764,47040,103,103734,47016,102,103798,47066,107,648518346348124201,371475.12,168403.20,4120
1,2526419,1075376,87582,60964,1435,87204,59752,1215,87992,62504,1609,648518346346303282,313543.56,218251.12,57400
2,1379480,483500,65740,73550,392,65556,73322,292,65976,73880,509,648518346341355778,235349.20,263309.00,15680
3,3380073,23140,103750,46904,176,103704,46862,173,103812,46946,181,648518346348124771,371425.00,167916.32,7040
4,1783610,11996,75124,43042,2100,75088,43008,2097,75164,43086,2103,648518346342925287,268943.92,154090.36,84000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409611,2864896,3878784,93134,59860,836,93000,59406,798,93294,60294,867,648518346349536888,333419.72,214298.80,33440
2409612,2161774,4075748,80312,56522,1814,79536,55348,1714,80940,57054,1889,648518346349524070,287516.96,202348.76,72560
2409613,2753701,4576444,90324,60436,2037,89490,60120,1851,90750,61138,2142,648518346341354380,323359.92,216360.88,81480
2409614,1963708,5805612,75674,72546,744,75266,71628,670,76032,73302,795,648518346343047176,270912.92,259714.68,29760
2409615,2065953,8715592,78284,66368,1616,78014,65470,1487,78726,67366,1727,648518346349526102,280256.72,237597.44,64640

In [4]:
mito.sort_values(by='mito_vx', ascending=False)

,mito_id,mito_vx,ctr_pos_x_vx,ctr_pos_y_vx,ctr_pos_z_vx,bbox_beg_x_vx,bbox_beg_y_vx,bbox_beg_z_vx,bbox_end_x_vx,bbox_end_y_vx,bbox_end_z_vx,cellid,ctr_pos_x_nm,ctr_pos_y_nm,ctr_pos_z_nm
8141,866030,100327168,64014,42198,1606,56972,36422,1335,69342,47894,2063,648518346349527319,229170.12,151068.84,64240
4186,2526416,78158580,93642,61286,1787,86768,54870,1484,99966,66696,2043,648518346341354380,335238.36,219403.88,71480
13684,3882596,75583848,115002,73240,1792,110136,69844,1469,119224,76370,2157,648518346342795202,411707.16,262199.20,71680
1392,1607426,73260720,74412,73488,1986,69838,70410,1657,80624,76226,2157,648518346349527317,266394.96,263087.04,79440
985,1461550,66313908,73106,58042,1919,67040,54926,1527,76878,64996,2157,648518346349525715,261719.48,207790.36,76760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79221,2247999,1200,82084,42654,1222,82072,42634,1221,82100,42672,1224,648518346346627689,293860.72,152701.32,48880
79392,819047,1200,56490,71016,940,56472,71000,939,56514,71038,943,648518346349521344,202234.20,254237.28,37600
79222,4217625,1200,116732,66414,913,116710,66396,912,116752,66430,914,648518346342920204,417900.56,237762.12,36520
79225,3964819,1200,113338,55548,1145,113318,55536,1143,113358,55562,1147,648518346348193043,405750.04,198861.84,45800
79171,583228,1200,51912,61700,407,51894,61688,406,51932,61716,409,648518346345673794,185844.96,220886.00,16280

In [5]:
top500 = mito.sort_values(by='mito_vx', ascending=False).head(500)

In [6]:
top500

,mito_id,mito_vx,ctr_pos_x_vx,ctr_pos_y_vx,ctr_pos_z_vx,bbox_beg_x_vx,bbox_beg_y_vx,bbox_beg_z_vx,bbox_end_x_vx,bbox_end_y_vx,bbox_end_z_vx,cellid,ctr_pos_x_nm,ctr_pos_y_nm,ctr_pos_z_nm
8141,866030,100327168,64014,42198,1606,56972,36422,1335,69342,47894,2063,648518346349527319,229170.12,151068.84,64240
4186,2526416,78158580,93642,61286,1787,86768,54870,1484,99966,66696,2043,648518346341354380,335238.36,219403.88,71480
13684,3882596,75583848,115002,73240,1792,110136,69844,1469,119224,76370,2157,648518346342795202,411707.16,262199.20,71680
1392,1607426,73260720,74412,73488,1986,69838,70410,1657,80624,76226,2157,648518346349527317,266394.96,263087.04,79440
985,1461550,66313908,73106,58042,1919,67040,54926,1527,76878,64996,2157,648518346349525715,261719.48,207790.36,76760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286075,1071341,6098808,64816,41486,814,62210,36036,596,67220,47188,943,648518346349538507,232041.28,148519.88,32560
1300907,3525734,6085240,109312,63964,1026,105708,61524,221,113596,65150,2157,648518346341398747,391336.96,228991.12,41040
2400783,3194441,6079776,98392,66318,240,98058,59738,21,98982,72680,432,648518346341399450,352243.36,237418.44,9600
65975,864661,6070412,59330,44632,1044,57764,43766,864,61098,45300,1180,648518346349517141,212401.40,159782.56,41760
1715759,2168975,6067692,81542,68858,613,79850,59526,380,83026,76140,790,648518346342804367,291920.36,246511.64,24520

In [7]:
top500["cellid"].value_counts()

648518346349527319    9
648518346341354380    9
648518346349517141    7
648518346349526102    7
648518346349525715    7
                     ..
648518346349378042    1
648518346349538269    1
648518346349509567    1
648518346349525571    1
648518346342804367    1
Name: cellid, Length: 378, dtype: int64

In [8]:
top = top500["cellid"] == 648518346349527319
topdf = top500.loc[top, ["cellid", "mito_id"]]
topdf

                    cellid  mito_id
8141    648518346349527319   866030
1194    648518346349527319  1083380
10972   648518346349527319   854433
2211    648518346349527319  1083414
50903   648518346349527319  1083667
13380   648518346349527319   739489
407250  648518346349527319  1077732
418716  648518346349527319   961982
8193    648518346349527319  1304222

In [9]:
topdf["mito_id"].to_list()

[866030, 1083380, 854433, 1083414, 1083667, 739489, 1077732, 961982, 1304222]

# Create a dataframe of value counts by cellid

In [10]:
mito_counts = mito["cellid"].value_counts()
mito_counts

648518346349526102    15791
648518346349539215     3213
648518346349536888     3173
648518346349528994     2448
648518346349525715     2133
                      ...
648518346342900448        1
648518346348193076        1
648518346342792092        1
648518346344028022        1
648518346344465998        1
Name: cellid, Length: 565129, dtype: int64

In [11]:
mito_countsdf = mito_counts.to_frame("mito_count")
mito_countsdf

                    mito_count
648518346349526102       15791
648518346349539215        3213
648518346349536888        3173
648518346349528994        2448
648518346349525715        2133
...                        ...
648518346342900448           1
648518346348193076           1
648518346342792092           1
648518346344028022           1
648518346344465998           1

[565129 rows x 1 columns]

In [12]:
mitocounts = mito_countsdf.reset_index()

In [13]:
mitocounts

                     index  mito_count
0       648518346349526102       15791
1       648518346349539215        3213
2       648518346349536888        3173
3       648518346349528994        2448
4       648518346349525715        2133
...                    ...         ...
565124  648518346342900448           1
565125  648518346348193076           1
565126  648518346342792092           1
565127  648518346344028022           1
565128  648518346344465998           1

[565129 rows x 2 columns]

In [14]:
mitocounts.rename(columns = {'index':'cellid'}, inplace=True)

In [15]:
mitocounts

                    cellid  mito_count
0       648518346349526102       15791
1       648518346349539215        3213
2       648518346349536888        3173
3       648518346349528994        2448
4       648518346349525715        2133
...                    ...         ...
565124  648518346342900448           1
565125  648518346348193076           1
565126  648518346342792092           1
565127  648518346344028022           1
565128  648518346344465998           1

[565129 rows x 2 columns]

In [16]:
mitocounts.head(25)

                cellid  mito_count
0   648518346349526102       15791
1   648518346349539215        3213
2   648518346349536888        3173
3   648518346349528994        2448
4   648518346349525715        2133
5   648518346349538791        2114
6   648518346349517783        1877
7   648518346349539846        1863
8   648518346349532924        1744
9   648518346349536799        1735
10  648518346349516953        1609
11  648518346349528465        1569
12  648518346349517141        1495
13  648518346349538089        1463
14  648518346349490239        1427
15  648518346349538789        1356
16  648518346349508722        1337
17  648518346341392909        1324
18  648518346349539158        1282
19  648518346342795202        1279
20  648518346349525545        1266
21  648518346349517321        1257
22  648518346349536849        1168
23  648518346349538638        1114
24  648518346349528250        1109

# Create a dataframe sorted by mito_vx

In [17]:
mito_voxelsdf = mito.sort_values(by='mito_vx', ascending=False)
mito_voxelsdf

,mito_id,mito_vx,ctr_pos_x_vx,ctr_pos_y_vx,ctr_pos_z_vx,bbox_beg_x_vx,bbox_beg_y_vx,bbox_beg_z_vx,bbox_end_x_vx,bbox_end_y_vx,bbox_end_z_vx,cellid,ctr_pos_x_nm,ctr_pos_y_nm,ctr_pos_z_nm
8141,866030,100327168,64014,42198,1606,56972,36422,1335,69342,47894,2063,648518346349527319,229170.12,151068.84,64240
4186,2526416,78158580,93642,61286,1787,86768,54870,1484,99966,66696,2043,648518346341354380,335238.36,219403.88,71480
13684,3882596,75583848,115002,73240,1792,110136,69844,1469,119224,76370,2157,648518346342795202,411707.16,262199.20,71680
1392,1607426,73260720,74412,73488,1986,69838,70410,1657,80624,76226,2157,648518346349527317,266394.96,263087.04,79440
985,1461550,66313908,73106,58042,1919,67040,54926,1527,76878,64996,2157,648518346349525715,261719.48,207790.36,76760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79221,2247999,1200,82084,42654,1222,82072,42634,1221,82100,42672,1224,648518346346627689,293860.72,152701.32,48880
79392,819047,1200,56490,71016,940,56472,71000,939,56514,71038,943,648518346349521344,202234.20,254237.28,37600
79222,4217625,1200,116732,66414,913,116710,66396,912,116752,66430,914,648518346342920204,417900.56,237762.12,36520
79225,3964819,1200,113338,55548,1145,113318,55536,1143,113358,55562,1147,648518346348193043,405750.04,198861.84,45800
79171,583228,1200,51912,61700,407,51894,61688,406,51932,61716,409,648518346345673794,185844.96,220886.00,16280